################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simple_Authentication_System/.vs
/Simple_Authentication_System/obj
/Domain/obj
/Simple_Authentication_System_Application/obj
/Simple_Authentication_System/bin/Debug/net8.0
/Simple_Authentication_System_Infrastructure/obj
/Domain/bin/Debug/net8.0
/Simple_Authentication_System_Application/bin/Debug/net8.0
/Simple_Authentication_System_Infrastructure/bin/Debug/net8.0
